.contacts {
     display: flex;
     height: 70vh;
     margin: 5%;
}

.onboarding-title {
     display: flex;
     align-items: center;
     justify-content: center;
}

.about-me {
     display: flex;
     max-width: none;
}

.about-me-text {
     margin: 20px 300px;
     font-size: 35px;
     color: rgb(220, 220, 220);
}